{{ define "main" }}

<!-- journey -->
<section class="section">
  <div dir="rtl" class="container" align="right">
    <h4>نکات مهم قبل از شروع فرایند: </h4>
    <br>
    <ul>
      <li>
        ابتدا برای دسترسی گوگل فرم به اطلاعات شما باید دکمه Allow Cookies را بزنید تا بستر برای شروع فرایند ایجاد شود برای درک بهتر <a style="color: blue; text-decoration: underline;" target="_blank" href="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/google-Form.png">این تصویر</a> را بررسی کنید.
      </li>
      <br>
      <li>
        به این دلیل که هر فرد تنها یک بار اجازه ارسال فرم را دارد درنتیجه برای وارد کردن اطلاعاتتون باید وارد حساب کاربری گوگل خودتون بشید.
      </li>
      <br>
      <li>درنهایت اگر در حین فرایند انتخاب گرایش به مشکلی برخوردید میتوانید با پشتیبانی فنی از طریق آیدی <a style="color: blue; text-decoration: underline;" href="https://t.me/mehruna" target="_blank">@Mehruna</a> در تلگرام تماس بگیرید.</li>
      <br>
      <li>در صورت عدم اطلاع از معدل های هر ترم خودتون به دلایل: مرخصی و یا عدم تکمیل کارنامه لطفا عدد صفر را وارد کنید و در توضیحات آخر فرم به طور کامل دلیلش را شرح دهید.<br><br>برای مثال: ترم اول: 0 گذاشتم به این دلیل که این ترم رو مرخصی گرفته بودم. ترم چهارم :0 گذاشتم به این دلیل که فعلا نمراتم به طور کامل قرار نگرفته اند.</li>
      <br>
      <li>در صورت وجود هر گونه سوال به آیدی تلگرامی @Karshenas_BME پیام ارسال فرمایید.</li>
    </ul>
    <br>
    <hr>
    <br>
    <div align="center">
      <h2>اتمام فرایند انتخاب گرایش - بستن لیست نهایی ۱۷۸ نفر</h2>
      <h5>(ورودی ۱۴۰۱)</h5>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
