{{ define "main" }}

<!-- journey -->
<section class="section">
  <div dir="rtl" class="container" align="right">
    <h4>نکات مهم قبل از شروع فرایند: </h4>
    <br>
    <ul>
      <li>
        ابتدا برای دسترسی گوگل فرم به اطلاعات شما باید دکمه Allow Cookies را بزنید تا بستر برای شروع فرایند ایجاد شود برای درک بهتر <a style="color: blue; text-decoration: underline;" target="_blank" href="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/google-Form.png">این تصویر</a> را بررسی کنید.
      </li>
      <br>
      <li>
        به این دلیل که هر فرد تنها یک بار اجازه ارسال فرم را دارد درنتیجه برای وارد کردن اطلاعاتتون باید وارد حساب کاربری گوگل خودتون بشید.
      </li>
      <br>
      <li>درنهایت اگر در حین فرایند انتخاب گرایش به مشکلی برخوردید میتوانید با پشتیبانی فنی از طریق آیدی <a style="color: blue; text-decoration: underline;" href="https://t.me/mehruna" target="_blank">@Mehruna</a> در تلگرام تماس بگیرید.</li>
      <br>
      <li>در صورت وجود هر گونه سوال به آیدی تلگرامی @Karshenas_BME پیام ارسال فرمایید.</li>
    </ul>
    <br>
    <hr>
    <br>
    <div align="center">
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe0TAeBeLUdsXkz56rCcrB96coQU2YDiFjXev4Zfzh5k53B5A/viewform?embedded=true" width="100%" height="1689" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
