{{ define "main" }}

<!-- scholarship -->
<section class="section">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 mb-4 mb-md-0">
                    <img src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/Screenshot_20240227_214847_Chrome.jpg" alt="i am mehran🙂❤️" class="img-fluid w-100">
      </div>
      <div style="padding: 25px" class="content" align="right">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
<!-- /scholarship -->

{{ end }}
