{{ define "main" }}

<!-- scholarship -->
<section class="section">
  <div class="container">
    <div class="row">
      <div style="padding: 25px" class="content" align="right">
        {{ .Content }}
        <img style="height: 200px;width: 100%;object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/650e667a3def3ab4f9c389f3a0cc69b65293faa1/static/images/IMG_20240229_172946_966.jpg"/>
      </div>
    </div>
  </div>
</section>
<!-- /scholarship -->

{{ end }}
