body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #285943;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a{
  color: inherit;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

a.text-primary:hover {
  color: $primary-color!important;
}

a.text-light:hover {
  color: $primary-color!important;
}

h4{
  transition: .2s ease;
}
a h4{
  &:hover{
    color: $primary-color;
  }
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;

  &-sm {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.img-container {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.fa-solid {
  cursor: pointer;
  color: white;
  position: absolute;
  opacity: 0.75;
  transition: opacity 100ms ease-in-out;
  z-index: 100;
}

.fa-solid:hover {
  opacity: 1;
}

.previous {
  left: 4.5rem;
}

.next {
  right: 4.5rem;
}

.border-primary {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $secondary-color;
    opacity: .8;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-secondary {
  background: $secondary-color !important;
}

.bg-gray {
  background: $gray;
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-light {
  color: $text-color-light !important;
}

.text-lighten{
  color: #d6d6e0 !important;
}

.text-muted {
  color: #b5b5b7 !important;
}

.text-dark {
  color: $text-color-dark !important;
}

.font-secondary {
  font-family: $secondary-font;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pl-150 {
  padding-left: 150px;
}

.zindex-1 {
  z-index: 1;
}

.overflow-md-hidden {
  @include desktop {
    overflow: hidden;
  }
}

.vertical-align-middle{
  vertical-align: middle;
}

.icon-md{
  font-size: 36px;
}

/* page title */
.page-title-section {
  padding: 200px 0 80px;
}

.custom-breadcrumb {
  li {
    &.nasted {
      position: relative;
      padding-left: 25px;

      &::before {
        position: absolute;
        font-family: $icon-font;
        content: "\e649";
        font-size: 20px;
        top: 50%;
        left: -5px;
        color: $white;
        transform: translateY(-50%);
      }
    }
  }
}

/* /page title */

.list-styled{
  padding-left: 25px;
  li{
    position: relative;
    margin-bottom: 15px;
    &::before{
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: $primary-color;
      left: -25px;
      top: 5px;
    }
  }
}

textarea.form-control{
  height: 200px;
  padding: 20px;
}

#map_canvas{
  height: 500px;
}



.post-thumb-sm {
  max-width: 100px;
}


/* pagination */
.pagination {
  justify-content: center;
  .page-item {
    margin: 0 10px;

    &.active {
      .page-link {
        background: $primary-color;
        color: $white;
        border-color: $primary-color;
      }
    }

    &:first-child .page-link,
    &:last-child .page-link {
      border-radius: 0;
    }

    .page-link {
      color: $text-color;
    }
  }
}


.content {
  * {
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 20px;
  }

  ul {
    padding-left: 0;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      list-style-type: none;
    }
  }

  table {
    text-align: right;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;

    th,
    td {
      padding: .75rem;
      vertical-align: top;
      border: 1px solid #dee2e6
    }

    thead {
      background: darken($color: $light, $amount: 2);
    }

    tbody {
      background: $light;

      td {
        text-align: right !important;
      }
    }
  }


  blockquote {
    p {
      margin-bottom: 0;
      color: $text-color;
      font-style: italic !important;
    }
  }


  pre {
    padding: 10px 20px;
    background: $light;
  }
}

.teacher-thumb-sm{
  height: 85px;
  width: 85px;
  object-fit: cover;
}

/* Slider */

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  height: 150px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.sectionsy {
  float: right;
  width: 100%;
  padding: 24px 0 36px;
}

#section-intro #intro-container {
  float: right;
  width: 86%;
  margin: 12px 7%;
}
#section-intro #intro-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
#section-intro #intro-container p {
  float: right;
  width: 100%;
  font-size: 1.15rem;
  line-height: 2;
  text-align: justify;
}

.container_s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  padding: 5px 10px;
  gap: 0px;
}

.info_s {
  text-align: right;
  font-size: 17px;
}
.info_s h1 {
  color: #000000;
}

.info_s a:hover {
  color: #f0f0f5;
}

.key {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 3px;
  top: 21px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  align-items: center;
  width: auto;
  position: relative;
}
.key .text {
  font-family: "Vazirmatn";
  font-size: 17px;
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  margin-right: auto;
  width: 180px;
  position: relative;
  top: -1.5px;
}
.key .icon {
  margin-left: 0px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}
.key:hover .icon,
.key:active .icon {
  color: rgba(0, 0, 0, 0.7);
}

.buttons_s {
  margin-top: 50px;
  width: 630px;
  display: flex;
  align-items: right;
  justify-content: right;
}
.button_s {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 10px;
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.button_s span {
  position: relative;
  z-index: 1;
}
.button_s i, .button svg , .system-icon {
  font-size: 28px;
  margin-right: 10px;

}
.button_s:hover:before {
  opacity: 1;
  visibility: visible;
}
.button_s:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.icloud {
  background-color: #000000;
}
.gmail {
  background-color: #db4437;
}
.outlook {
  background-color: #0072c6;
}
.local {
  background-color: #3742db;
}
.whatsapp {
  background-color: #2ebf33;
}

[x-cloak] {
  display: none !important;
}

.glass {
    background: #00000010;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 1;
}

@media only screen and (max-width: 1200px) {
  #jjklp23{
    display: none;
  }
}
