/*  typography */
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200&display=swap');

@font-face {
   font-family: 'IRANYekan';
   src: url('https://github.com/Diara-Token/Diara.ir/raw/master/assets/fonts/IRANYekan/woff/IRANYekanWebBold.woff') format('woff');  /* Newer browsers */
   font-weight: normal;
   font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
  font-family: $primary-font;
  line-height: 1.2;
  width: 100vw !important;
  overflow-x: hidden !important;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 15px;
  line-height: 1.9;
  font-family: $primary-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: 'IRANYekan';
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1{
  font-size: 60px;
  @include mobile {
    font-size: 45px;
  }
}

h2, .h2{
  font-size: 40px;
  @include mobile {
    font-size: 30px;
  }
}

h3, .h3{
  font-size: 25px;
  @include mobile {
    font-size: 20px;
  }
}

h4, .h4{
  font-size: 20px;
  @include mobile {
    font-size: 18px;
  }
}

h5, .h5{
  font-size: 18px;
  @include mobile {
    font-size: 16px;
  }
}

h6, .h6{
  font-size: 16px;
  @include mobile {
    font-size: 14px;
  }
}
