// Color Variables
$primary-color: #7077A1;
$secondary-color: #1a1a37;
$text-color: #5c5c77;
$text-color-light: #8585a4;
$text-color-dark: #1e1e4b;
$body-color: #ffffff;
$border-color: #d1d1f5;
$black: #000;
$white: #ffffff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables
$primary-font: 'Vazirmatn', sans-serif;
$secondary-font: 'Vazirmatn';
$icon-font: 'themify';