<div style="border-radius: 15px;" class="card p-0 border-primary rounded-9 shadow" align="right">
  <!--<img class="card-img-top rounded-0" src="{{ .Params.image | relURL }}" alt="">
  <p>{{.Title}}</p>-->
  <div class="card-body" dir="rtl" align="right">
    <p class="list-inline-item"><i class="ti-calendar"></i> ارائه دهنده: <b>{{ .Params.Teacher }}</b></p>
    <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
    <p class="card-text mb-4">{{ .Summary | truncate 100 }}</p>
    <p>وضعیت: {{ .Params.Status }}</p>
    <p><i class="ti-bookmark-alt"></i>  تاریخ برگزاری کارگاه : <b>{{ .Params.Weekly }}</b> <br> لینک انتشار: <a href="{{ .Params.Linke }}">{{.Params.Intro}}</a></p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "apply_now"}}</a>
  </div>
</div>
