<li style="padding: 10px; border-radius: 15px;" class="d-md-table mb-4 w-100 border-bottom shadow">
  <div style="padding: 15px;" class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
    <h4><a href="{{ .Permalink }}" class="card-title mb-3 d-block">{{ .Title }}</a></h4>
    <p class="mb-0">{{ .Summary | truncate 100 }}</p>
   <p><i class="ti-bookmark-alt"></i>  تاریخ انتشار اطلاعیه : <b>{{ .Params.Public }}</b><br>لینک انتشار: <a href="{{ .Params.Linke }}">{{.Params.Intro}}</a></p>
  </div>
</li>
