<article style="border-radius: 15px;" align="right" class="card rounded-9 border-bottom border-primary border-top-0 border-left-0 border-right-0 shadow">
  <img class="card-img-top rounded-9" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  <div dir="rtl">
    <div class="card-body">
      <!-- post meta -->
      <ul style="align-content: space-around;" class="list-inline mb-3">
        <!-- post date -->
        <li class="list-inline-item mr-3 ml-0"><i class="ti-calendar"></i> {{ .Params.Dates }}</li>
        <!-- author -->
        <li class="list-inline-item mr-3 ml-0"><i class="ti-user"></i> <a
          href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></li>
      </ul>
        <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p dir="rtl" class="card-text">{{ .Summary | truncate 100 }}</p>
      <p><i class="ti-bookmark-alt"></i>  تاریخ انتشار مقاله : <b>{{ .Params.Dates }}</b> <br> لینک انتشار: <a href="{{ .Params.Linke }}">{{.Params.Intro}}</a></p>
      <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
    </div>
  </div>
</article>