<article style="border-radius: 15px;"
  class="card rounded-9 border-bottom border-primary border-top-0 border-left-0 border-right-0 shadow">
  <img class="card-img-top rounded-9" src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
  <div>
    <div class="card-body">
      <!-- post meta -->
      <p class="list-inline-item"><i class="ti-user"></i> تنظیم شده توسط:
        {{ range .Params.Authors }}
        <b>
        <a href="{{ `author/` | relLangURL }}{{ .name | urlize }}">
           <span style=" text-decoration: underline;">{{ .name | title }}</span> <sub>{{.id}}</sub>
        </a>
      </b>
        {{end}}
    </p>
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p dir="rtl" class="card-text">{{ .Summary | truncate 100 }}</p>
      <p><i class="ti-calendar"></i> تاریخ انتشار مقاله : <b>{{ .Params.Dates }}</b> <br> لینک انتشار: <a
          href="{{ .Permalink }}">{{ .Permalink }}</a></p>
      <a href="{{ .Permalink }}" class="btn btn-primary btn-sm">{{ i18n "read_more" }}</a>
    </div>
  </div>
</article>
