<div class="card rounded-20 shadow border-top-0 border-left-0 border-right-0">
  <div class="card-body">
    <b><figcaption class="blockquote-footer">
      {{.Params.Status}}
    </figcaption></b>
    <br>  
    <h4 class="card-title"><a>{{ .Title }}</a></h4>
    <p dir="ltr" class="card-text"><b>h-index Score : {{.Params.Oindex}}</b></p>
    <h5>بهترین مقاله:<br><a style="text-decoration: underline;" href="{{.Params.Lastarticle}}" target="_blank">{{.Params.Lastarticle}}</a></h5>
    <p>عنوان مقاله:</p>
    <div align="left">
      <p dir="auto"><b>{{.Params.Description}}</b></p>
    </div>
  </div>
</div>
