{{ define "main" }}

<!-- blog details -->
<section class="section-sm">
  <div class="container" align="right">
    <div class="row" dir="rtl">
      <div dir="rtl" class="col-lg-8 order-2 order-lg-1">
        <div class="row">
          <div class="col-12 mb-4">
            <img src="{{ .Params.image | relURL }}" alt="blog-thumb" class="img-fluid w-100">
          </div>
          <div class="col-12" align="right">
            <p class="list-inline-item"><i class="ti-user"></i> تنظیم شده توسط:  <b><a style=" text-decoration: underline;"
              href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a></b></p>
                
            <p class="list-inline-item"><span class="font-weight-bold mr-2">{{ i18n "date" }}
                :</span>{{ .Params.Dates }}</p>

            <p class="list-inline-item"><span class="font-weight-bold mr-2">{{ i18n "category" }}
                :</span>{{ range $index, $elements:= .Params.Categories }}<a style=" text-decoration: underline;"
                href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}"> {{ if ne $index 0 }}, {{ end }}
                {{ . | title }}</a> {{ end}}</p>
          </div>
          <!-- border -->
          <div class="col-12 my-4">
            <div class="border-bottom"></div>
          </div>
          <!-- blog contect -->
          <div class="col-12 mb-5" dir="rtl" align="right">
            {{ .Content }}

            <p><i class="ti-bookmark-alt"></i>  تاریخ انتشار مقاله : <b>{{ .Params.Dates }}</b> <br> لینک انتشار: <a href="{{ .Params.Linke }}">{{.Params.Intro}}</a></p>
          </div>
          <!-- comments -->
          {{ if site.DisqusShortname }}
          <div class="col-12">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ partial "blog-sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog details -->

{{ end }}
