<div class="card border-0 rounded-2 hover-shadow mb-5">
  <div class="card-body"><!-- {{ .Permalink }} - for link to teacher -->
    <h4 style="border-radius: 4px; border-right: 3px solid #7077A1; padding-right: 10px" class="card-title"><a href="">{{ .Title }}</a></h4>
    <p>{{ .Params.Course }}</p>
    <p>:راه ارتباطی<br> {{ .Params.Email }}<br></p>
    <ul class="list-inline">
      {{ range .Params.Contact }}
      <!-- <li class="list-inline-item"><a class="text-color" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
      </li> -->
      {{ end }}
    </ul>
  </div>
</div>
