{{ define "main" }}

<!-- journey -->
<section class="section">
  <div class="container" align="right">
    <div align="center">
      <p>اطلاعات را به دقت پر کنید هرچیز حتی کوچک برای ما اهمیت دارد پس در جزئیات نیز دقت کافی را لحاظ کنید</p>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdycg2dqSGpX38ASX-HSn6_r_vCvynWYm0csa4ls0UjyFoZIA/viewform?embedded=true" width="100%" height="1689" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
