{{ define "main" }}

<!-- journey -->
<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="text-center">            <!-- blog post -->
            {{ range .Data.Pages }}
            <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0" align="right">
              {{ .Render "author" }}
            </article>
            {{ end }}
				</div>
          </div>
    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
