{{ define "main" }}

<section class="section bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="text-center">
					<figure>
						{{ if .Params.image }}
						<img width="100" class="rounded-circle img-fluid mb-4" src="{{.Params.image | relURL }}">
						{{else if .Params.Email}}
						<img class="rounded-circle img-fluid mb-4"
							src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
						{{ end }}
						<figcaption>
							<h4 class="font-weight-bold">
								{{ .Title }}
							</h4>
						</figcaption>
					</figure>
					<hr>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row" dir="rtl">
			<div class="col-lg-12">
				<div class="title text-center"> <!--6788-->
					<h2 class="section-title">{{ i18n "posted_by" }} {{ .Title }}</h2>
					<hr>
					<br>
				</div>
			</div>
			{{ range .Params.Oop }}
			<div align="right" dir="rtl" class="col-lg-4 col-sm-6 mb-4">
				<h4 dir="rtl"><a href="{{ .mehran }}" class="card-title mb-3 d-block">{{ .title }}</a></h4>
				<p>{{ .des }}</p>
				<p><i class="ti-bookmark-alt"></i> تاریخ انتشار مقاله : <b>{{ .data }}</b><br></p>
			</div>
			{{ end }}

		</div>
	</div>
</section>
{{ end }}
