{{ define "main" }}

{{ $data := index site.Data site.Language.Lang }}

<!-- hero slider -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section class="hero-section overlay bg-cover" data-background="{{ .bg_image | absURL }}"> <!-- -->
  <div class="container" align="center">
    <div class="hero-slider">
      <!-- slider item -->
      <!--
      {{ range .slider_item }}
      <div class="hero-slider-item">
        <div class="row" dir="rtl">
          <div class="col-md-8" align="right">
            <h1 class="text-white" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="7" data-duration-in=".1"
              data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".1">{{ .title | markdownify }}</h1>
            <p class="text-muted mb-4"  data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="7" data-duration-in=".1" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".2">{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            <a href="{{ .button.link | absLangURL }}" class="btn btn-primary" data-animation-out="fadeOut{{.animation_out | title }}" data-delay-out="7" data-duration-in=".1" data-animation-in="fadeIn{{.animation_in | title }}" data-delay-in=".7">{{ .button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
      -->
      {{ range .slider_item }}
      <div class="hero-slider-item" align="center">
        <div style="margin-right: 3.5px;" id="section-intro" class="row sectionsy" align="center">
          <h1 class="text-white">{{ .title | markdownify }}</h1>
          <div id="intro-container" align="right" dir="rtl">
            <p class="text-muted mb-4">{{ .content | markdownify }}</p>
            {{ if .button.enable }}
            <a href="{{ .button.link | absLangURL }}" class="btn btn-primary">{{ .button.label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /hero slider -->

<!-- banner-feature -->
{{ if $data.homepage.banner_feature.enable }}
{{ with $data.homepage.banner_feature }}
<section class="bg-gray overflow-md-hidden">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div align="center" class="col-xl-4 col-lg-5 align-self-start">
        <img class="img-fluid w-90" src="{{ .image | absURL }}" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          {{ range .feature_item }}
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-right">
            <div dir="rtl">
              <i class="{{ .icon }} mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
              <h3 class="mb-xl-4 mb-lg-3 mb-4">{{ .name | markdownify }}</h3>
              <p>{{ .content | markdownify }}</p>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner-feature -->

<!-- about us -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section" dir="rtl">
  <div class="container" align="right">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-outline-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
      {{ with .image }}
      <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
        <img class="img-fluid w-100" src="{{ . | absURL }}" alt="about image">
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about us -->
<section class="section" dir="rtl">
  <div class="container" align="right">
    <div class="row align-items-center">
      <div class="col-md-6 order-2 order-md-1">
        <h5>محل تبلیغات</h5>
      </div>
    </div>
  </div>
</section>
<!-- events -->
{{ if $data.homepage.event.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">کارگاه های تخصصی</h2>
          <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`course` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      {{ range first 3 (where site.RegularPages "Type" "course")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "course" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`course` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}

<!-- courses -->
{{ if $data.homepage.course.enable }}
<section class="section-sm bg-gray">
  <div class="container" align="right">
    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">اطلاعیه ها</h2>
          <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
              <a href="{{ `notice` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- course list -->
    <div style="list-style-type: none; padding: 0px;" class="column justify-content-center">      <!-- course item -->
      {{ range first 6 (where site.RegularPages "Type" "notice")}}
      <div dir="rtl"> <!-- col-lg-5 col-sm-4 mb-5 -->
        {{ .Render "notice" }}
      </div>
      {{ end }}
    </div>
    <!-- /course list -->
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{ `notice` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /courses -->

<!-- magazine -->
<section style="overflow-x: hidden;" class="section">
  <div class="container" align="right">
    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">فصلنامه انجمن</h2>
          <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`magazine` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" dir="rtl">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "magazine")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0" align="right">
        {{ .Render "magazine" }}
      </article>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`magazine` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ with $data.homepage.cta }}
<section class="section bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h6 class="text-white font-secondary mb-0">{{ .subtitle | markdownify }}</h6>
        <h2 class="section-title text-white">{{ .title | markdownify }}</h2>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="form/" target="_blank" class="btn btn-light">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /cta -->

<!-- success story -->
{{ if $data.homepage.success_story.enable }}
{{ partial "success-story.html" . }}
{{ end }}
<!-- /success story -->

<!-- events -->
{{ if $data.homepage.event.enable }}
<section class="section bg-gray">
  <div class="container">
    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">کنفرانس و سمینار ها</h2>
          <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- event -->
      {{ range first 3 (where site.RegularPages "Type" "event")}}
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        {{ .Render "event" }}
      </div>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`event` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /events
<div class="col-12" align="right">
        <h2 class="section-title">{{ $data.homepage.blog.title }}</h2>
      </div>
-->

<!-- blog -->
{{ if $data.homepage.blog.enable }}
<section class="section">
  <div class="container" align="right">
    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">{{ $data.homepage.blog.title }}</h2>
          <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`blog` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" dir="rtl">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "post")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0" align="right">
        {{ .Render "post" }}
      </article>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`blog` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>

<div style="margin-bottom: 30px;" class="container">
  <div class="row" dir="rtl">
    <div class="col-12">
      <div class="d-flex align-items-center section-title justify-content-between">
        <h2 class="mb-0 text-nowrap mr-3">دسترسی سریع</h2>
        <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 20px;" class="row">
    <a style="margin-bottom: 10px;" href="notice/" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7328.JPG" class="img-fluid rounded">
    </a>
    <a style="margin-bottom: 10px;" href="event/" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7329.JPG" class="img-fluid rounded">
    </a>
    <a style="margin-bottom: 10px;" href="course/" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
      <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7330.JPG" class="img-fluid rounded">
    </a>
  </div>
</div>

<!-- journal -->
<section style="overflow-x: hidden;" class="section">
  <div class="container" align="right">
    <div class="row" dir="rtl">
      <div class="col-12">
        <div class="d-flex align-items-center section-title justify-content-between">
          <h2 class="mb-0 text-nowrap mr-3">رادیو BME +</h2>
          <div style="margin-left: 15px; margin-right: 15px;" class="border-top w-100 border-primary d-none d-sm-block"></div>
          <div>
            <a href="{{`podcast` | relLangURL }}" class="btn btn-sm btn-outline-primary ml-sm-3 d-none d-sm-block text-nowrap">{{ i18n "see_all" }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" dir="rtl">
      <!-- blog post -->
      {{ range first 3 (where site.RegularPages "Type" "journal")}}
      <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0" align="right">
        {{ .Render "journal" }}
      </article>
      {{ end }}
    </div>
    <!-- mobile see all button -->
    <div class="row">
      <div class="col-12 text-center">
        <a href="{{`podcast` | relLangURL }}" class="btn btn-sm btn-outline-primary d-sm-none d-inline-block">{{ i18n "see_all" }}</a>
      </div>
    </div>
  </div>
</section>
{{ end }}


{{ end }}
