{{ define "main" }}

<!-- journey -->
<section class="section">
  <div class="container" align="right">
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-12" dir="rtl">   
        <div style="padding-bottom: 20px;" class="row">
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7328.JPG" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7329.JPG" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7330.JPG" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7330.JPG" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7330.JPG" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7330.JPG" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/main/static/images/IMG_7330.JPG" class="img-fluid rounded">
          </a>
        </div>
        <p>تتسبحتحصتبهصثتبثصتبتث</p>
    </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
