{{ define "main" }}

<!-- journey -->
<section class="section">
  <div class="container" align="right">
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      <p> ● انجمن علمی مهندسی پزشکی واحد تهران مرکزی موفق به کسب رتبه چهارم از بین 10 انجمن علمی برتر کشور در جشنواره ملی زیست فناوری کشور شده است انجمن مهندسی پزشکی دانشگاه تهران مرکز  برترین و بزرگترین انجمن علمی واحد تهران مرکز نیز میباشد</p>
      <div class="col-12" dir="rtl">   
        <div style="padding-bottom: 20px;" class="row">
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203900_055.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203945_007.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203949_483.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203905_770.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203944_835.jpg" class="img-fluid rounded">
          </a>
        </div>
      </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
