{{ define "main" }}

<!-- journey -->
<section class="section">
  <div class="container" align="right">
    <!-- course list -->
    <div class="row justify-content-center">
      <!-- course item -->
      <div class="col-12" dir="rtl">
        <p> ● انجمن علمی مهندسی پزشکی واحد تهران مرکزی با افتخار اعلام می‌نماید که در جشنواره ملی زیست فناوری کشور، به لطف تلاش‌های بی‌وقفه و علمی متمیز، توانسته است از میان 10 انجمن علمی برتر کشور، رتبه چهارم را کسب نماید. این دستاورد، نشان از تفوق و استواری در راه پیشرفت و توسعه علمی کشور ما می‌باشد.<br><br>همچنین افتخار داریم که انجمن مهندسی پزشکی دانشگاه تهران مرکز، بعنوان برترین و بزرگترین انجمن علمی واحد تهران مرکز، به عنوان نماینده فعال و موثر از جامعه علمی کشور درخشیده است. در جشنواره فرهیختگان در سال ۱۴۰۰ نیز، انجمن علمی مهندسی پزشکی واحد تهران مرکزی با افتخار رتبه اول را به خود اختصاص داده و این افتخار را به عنوان نماینده برتری و تمامیت در عرصه فرهنگ و علم ایرانی، به دست آورده است.</p>
        <br>
        <div style="padding-bottom: 20px;" class="row">
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203900_055.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203945_007.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203949_483.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203905_770.jpg" class="img-fluid rounded">
          </a>
          <a style="margin-bottom: 10px;" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img style="object-fit: scale-down;" src="https://raw.githubusercontent.com/Mehranalam/Medical-Engineering-Association/65d93aa462c39cb813879efe68702365203fb40c/static/images/IMG_20240304_203944_835.jpg" class="img-fluid rounded">
          </a>
        </div>
      </div>
    <!-- /course list -->
  </div>
</section>
<!-- /courses -->

{{ end }}
