{{ define "main" }}

<!-- research -->
<section class="section">
  <div class="container">
    <div align="right" dir="rtl" style="margin: 15px;" class="alert alert-info" role="alert">
      <h6>منظور از H-index چیست:</h6><p> شاخص H یا H-Index یک مقیاس عددی است که نشان می­ دهد یک محقق چقدر عملکرد موثری داشته است.
        این شاخص در سال 2005 توسط یک فیزیکدان به نام جورج هیرش (Jorge Hirsch) در دانشگاه کالیفرنیا اختراع شد. هدف از
        اختراع این مقیاس عددی این بود که مشخص شود هر محقق در زمینه علمی خود چه اندازه مشارکت موفق داشته است.

        در آن زمان این ارزیابی از طریق تعداد استنادها به مقاله شخص انجام می­ شد. اگر می ­خواستید بدانید یک محقق چقدر
        تاثیرگذار بوده است فقط کافی بود تعداد دفعاتی که دیگران در مقالاتشان به مقاله ­­ی او ارجاع می­ کردند را محاسبه
        کنید. این کار بسیار ساده بود، اما خیلی زود محققان ایرادی در این نوع ارزیابی پیدا کردند.

        در این نوع ارزیابی اگر محققی فقط یک مقاله علمی منتشر کرده بود که بسیار به آن ارجاع شده است، او یک محقق موفق
        خوانده می­ شد. در چنین شرایطی به نظر می ­رسید سایر محققانی که بیش از یک مقاله منتشر کرده ­اند نقش موثری در این
        زمینه نداشته اند. </b></p>
    </div>
    <hr>
    <div class="row" dir="rtl">
      {{ range .Data.Pages}}
      <!-- recharch item -->
      <div class="col-lg-4 col-sm-6 mb-4">
        {{ .Render "research" }}</div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /research -->

{{ end }}