{{ define "main" }}

<!-- section -->
<section class="section-sm" align="right">
  <div class="container" dir="rtl">
    <div class="row">
      <div align="right" class="col-12 mb-4">
        <!-- course thumb -->
        <p>{{.Title}}</p>
        <!-- <img style="height: 500px;width: 100%;object-fit: cover;" src="{{ .Params.image | relURL }}"
          class="img-fluid w-100" alt="{{.Title}}"> -->
      </div>
    </div>
    <!-- course info -->
    <div align="right" dir="rtl" class="row align-items-right mb-5">
      <div align="right" dir="rtl" class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
        <h3>{{ .Title }}</h3>
        <p style="color: red;"><i>{{.Params.Status}}</i></p>
        <p><i class="ti-bookmark-alt"></i>  تاریخ برگزاری کارگاه : <b>{{ .Params.Weekly }}</b> <br> </i> دسته‌بندی:  <b>{{ .Params.Category }}</b><br> لینک انتشار: <a href="{{ .Params.Linke }}">{{.Params.Intro}}</a></p>
      </div>
      <div align="right" class="col-xl-3 text-sm-left text-right order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
        <a href="{{ .Params.Apply_url | safeURL }}" class="btn btn-primary">{{ i18n "apply_now" }}</a>
      </div>
      <div class="col-xl-6 order-sm-3 order-xl-2 col-12 order-2">
        <ul class="list-inline text-xl-center">
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-calendar text-primary icon-md mr-2"></i>
              <div style="margin-right: 9px;" class="text-right">
                <h6 class="mb-0">{{ i18n "duration" | upper }}</h6>
                <p class="mb-0">{{ .Params.Duration }}</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-timer text-primary icon-md mr-2"></i>
              <div style="margin-right: 9px;" class="text-right">
                <h6 class="mb-0">تاریخ برگزاری:</h6>
                <p class="mb-0">{{ .Params.Weekly }}</p>
              </div>
            </div>
          </li>
          <li class="list-inline-item mr-4 mb-3 mb-sm-0">
            <div class="d-flex align-items-center">
              <i class="ti-wallet text-primary icon-md mr-2"></i>
              <div style="margin-right: 9px;" class="text-right">
                <h6 class="mb-0">{{ i18n "fee" | upper }}</h6>
                <p class="mb-0">{{ .Params.Fee }}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4 content" align="right">
        {{ .Content }}
      </div>
      <!-- teacher -->
      <div class="col-12" align="right">
        <h5 class="mb-3">{{ i18n "teacher" }}</h5>
        <div dir="rtl" class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="media mb-2 mb-sm-0 align-items-center">
            <div class="media-body"><!--{{ .Permalink }} - teacher link-->
              <h4 class="mt-0"><a href="">{{ .Params.Teacher }}</a></h4>
              {{ .Params.Course }}
            </div>
          </div>
          <div class="social-link">
            <h6 class="d-none d-sm-block text-left">{{ i18n "contact_info" }}</h6>
            <ul class="list-inline">
              
              <li class="list-inline-item"><a class="d-inline-block text-light p-1" href="">{{.Params.Contacty}}</a></li>
              
            </ul>
          </div>
        </div>
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

<!-- related course -->
<section class="section pt-0">
  <div class="container" align="right">
    <div class="row">
      <div dir="rtl" class="col-12">
        <h2 class="section-title">دیگر کارگاه ها</h2>
      </div>
    </div>
    <div class="row">
      {{ $related := (where site.RegularPages "Type" "course") | intersect (where site.Pages ".Title" "!=" .Title) | union (site.RegularPages.Related . ) | shuffle | first 3}}
      {{ range first 3 $related }}
      <div class="col-lg-4 col-sm-6 mb-5">
        {{ .Render "course"}}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /related course -->

{{ end }}